@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");

body {
  background: url("../assests/home-bg-img.jpg") no-repeat center/cover;
  min-height: 100vh;
  position: relative;
  color: white !important;
  font-family: "Quicksand", sans-serif !important;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.title-1 {
  color: #00ffff;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 80px;
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-shadow: 0 0 5px white;
}
.container {
  max-width: 1440px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.title-2 {
  font-size: 32px;
  color: #4fc3f7;
  text-transform: capitalize;
  margin-bottom: 15px;
}

/* Loader CSS */
.spinner-wrapper {
  background: #0e0e0e;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}
.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow:
    0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}
.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
.spinner-wrapper.hide {
  opacity: 0;
  visibility: hidden;
}

input:focus,
input:active {
  border: none;
  outline: none;
}
.percentile-box {
  margin-bottom: 50px;
}
.Btn {
  margin: 40px auto 0;
}
.students-box span {
  font-size: 22px;
}

/* Button */

.Btn {
  position: relative;
  width: 150px;
  height: 55px;
  border-radius: 45px;
  border: none;
  background-color: rgb(151, 95, 255);
  color: white;
  box-shadow:
    0px 10px 10px rgb(210, 187, 253) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212),
    0px -10px 10px rgb(124, 54, 255) inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  z-index: 3;
}

.Btn::before {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.678);
  content: "";
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
}

.Btn::after {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.137);
  content: "";
  filter: blur(1px);
  bottom: 7px;
  border-radius: 50%;
}

.Btn:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* From Uiverse.io by Praashoo7 */
.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 8px 20px;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  font-weight: 600;
  border: 2px solid white;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow:
    13px 13px 100px #969696,
    -13px -13px 100px #ffffff;
  border: 2px solid white;
}
#percentile {
  max-width: 140px;
}
#students {
  max-width: 110px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.results {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s ease;
}
.results.show {
  opacity: 1;
  transform: translateY(0);
}
.results > .rank {
  font-size: 35px;
  line-height: 0.9;
}
.error {
  color: red;
  font-size: 22px;
  text-transform: capitalize;
  display: inline-block;
  opacity: 0;
  font-weight: 600;
  position: absolute;
  left: 150px;
  bottom: 10px;
  line-height: 1.2;
}
.null-error-2 {
  left: 225px;
}
.null-error-3 {
  bottom: -50px;
  left: 0;
  right: 0;
  text-align: center;
}
.error.show {
  animation: error-animate 7s ease;
  visibility: visible;
}

.reset-btn {
  padding: 5px 15px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: rgb(37, 4, 255);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.6s ease;
}
.reset-btn.show {
  transform: scale(1);
  opacity: 1;
}

.reset-btn:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.reset-btn:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

@keyframes error-animate {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
.title-1-btn {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  font-size: 40px !important;
  transform: translateY(-5px);
}
.image-box {
  height: 90vh;
  border-radius: 20px !important;
}
.image-box > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px !important;
}
.modal-content {
  width: fit-content !important;
  border-radius: 20px !important;
}
.modal-dialog {
  justify-content: center;
}
.modal-body {
  padding: 5px !important;
  border-radius: 20px !important;
}
.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none !important;
  height: 30px !important;
  width: 30px !important;
}
.btn-close:focus {
  box-shadow: none !important;
  opacity: 1 !important;
}
.btn-close > .line {
  height: 2px;
  left: 0;
  right: 0;
  background: white;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}
.btn-close > .line-1 {
  transform: rotate(45deg);
}
.btn-close > .line-2 {
  transform: rotate(-45deg);
}
input.error-border {
  animation: error-border 7s ease;
}
@keyframes error-border {
  0% {
    border: 2px solid white;
  }
  20% {
    border: 2px solid red;
  }
  80% {
    border: 2px solid red;
  }
  100% {
    border: 2px solid white;
  }
}
.switch-btn {
  padding: 0;
  background: transparent;
  color: inherit;
  text-shadow: 0 0 10px yellow;
  border: none;
  transition: 1s ease;
  position: relative;
  left: 0;
}
.switch-btn:hover {
  transform: scale(1.4);
}
.switch-btn.rotate {
  transform: rotate(180deg);
  left: -140px;
  z-index: 999;
}
.row {
  opacity: 1;
  transition: 0.6s ease;
}
.row.hide {
  opacity: 0;
  visibility: hidden;
}
.rank-box {
  margin-bottom: 50px;
}
.null-error7 {
  left: 225px;
}
.t-1,
.t-2 {
  display: inline-block;
  transition: 1s linear;
}
.t-1.ani-for {
  animation: ani-for 1s linear forwards;
}
.t-2.ani-back {
  animation: ani-back 1s linear forwards;
}
.t-1.remove {
  animation: ani-for-rev 1s linear forwards;
}
.t-2.remove {
  animation: ani-back-rev 1s linear forwards;
}
@keyframes ani-for {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, -50px);
  }
  50% {
    transform: translate(58%, -50px);
  }
  90% {
    transform: translate(192px, -50px);
  }
  100% {
    transform: translate(192px, 0);
  }
}
@keyframes ani-back {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 50px);
  }
  50% {
    transform: translate(-92%, 50px);
  }
  90% {
    transform: translate(-333px, 50px);
  }
  100% {
    transform: translate(-333px, 0);
  }
}
@keyframes ani-for-rev {
  0% {
    transform: translate(192px, 0);
  }
  10% {
    transform: translate(192px, -50px);
  }
  50% {
    transform: translate(58%, -50px);
  }
  90% {
    transform: translate(0, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes ani-back-rev {
  0% {
    transform: translate(-333px, 0);
  }
  10% {
    transform: translate(-333px, 50px);
  }
  50% {
    transform: translate(-92%, 50px);
  }
  90% {
    transform: translate(0, 50px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.range-error5 {
  left: 225px;
}

/* Responsive */
@media screen and (max-width: 1400px) {
  .range-error4 {
    bottom: -3px;
  }
  .null-error7 {
    bottom: -5px;
  }
}
@media screen and (max-width: 1200px) {
  .results > .text {
    line-height: 1;
  }
  .results > .rank {
    line-height: 1.3;
  }
  .null-error-3 {
    bottom: -75px;
  }
  .range-error {
    bottom: -3px;
  }
  .range-error2 {
    bottom: -3px;
  }
  .range-error5 {
    bottom: -5px;
  }
}
@media screen and (max-width: 992px) {
  .results {
    font-size: 25px;
  }
  .title-2 {
    font-size: 30px;
  }
  .null-error-2 {
    bottom: -3px;
  }
  .reset-btn {
    top: 5px;
  }
  .range-error4 {
    bottom: -30px;
  }
  .null-error7 {
    bottom: -25px;
  }
  @keyframes ani-for {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-309%, 105%);
    }
  }
  @keyframes ani-back {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(132%, -105%);
    }
  }
  @keyframes ani-for-rev {
    0% {
      transform: translate(-115%, 105%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes ani-back-rev {
    0% {
      transform: translate(132%, -105%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .t-1.ani-for {
    width: 120px;
  }
  .t-2.ani-back {
    width: 260px;
  }
  .t-1.remove {
    width: fit-content;
  }
  .t-2.remove {
    width: fit-content;
  }
}
@media screen and (max-width: 768px) {
  .title-1 {
    font-size: 35px;
    padding-top: 60px;
    margin-bottom: 50px;
  }
  .title-1-btn {
    font-size: 35px !important;
  }
  .results {
    font-size: 30px;
  }
  .results > .rank {
    font-size: 40px;
  }
  .range-error4 {
    bottom: -4px;
  }
  .null-error7 {
    bottom: -5px;
  }
  @keyframes ani-for {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-279%, 101%);
    }
  }
  @keyframes ani-back {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(102%, -101%);
    }
  }
  .t-1.ani-for {
    width: 105px;
  }
  .t-2.ani-back {
    width: 227px;
  }
  .switch-btn.rotate {
    left: -5px;
  }
}
@media screen and (max-width: 576px) {
  .title-1 {
    font-size: 28px;
    margin: 0 auto 35px;
    max-width: 375px;
  }
  .title-1-btn {
    font-size: 28px !important;
    transform: translateY(-3px);
  }
  .title-2 {
    font-size: 23px;
  }
  .students-box span {
    font-size: 18px;
  }
  .percentile-box {
    margin-bottom: 50px;
  }
  .Btn {
    margin: 50px auto 0;
    width: 135px;
    height: 45px;
  }
  .results {
    font-size: 23px;
  }
  .input {
    padding: 5px 15px;
  }
  .error {
    left: 0;
    bottom: -30px;
    font-size: 18px;
  }
  .null-error-3 {
    bottom: -50px;
  }
  .range-error {
    bottom: -46px;
  }
  .btn-close {
    height: 20px !important;
    width: 20px !important;
    top: 10px;
    right: 10px;
  }
  .modal-body {
    padding: 2px !important;
  }
  .reset-btn {
    top: 45px;
    font-size: 12px;
  }
  .range-error4 {
    bottom: -45px;
  }
  .range-error2 {
    bottom: -45px;
  }
  .null-error7 {
    bottom: -45px;
  }
  @keyframes ani-for {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(74%, 0);
    }
  }
  @keyframes ani-back {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-276%, 0);
    }
  }
  @keyframes ani-for-rev {
    0% {
      transform: translate(74%, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes ani-back-rev {
    0% {
      transform: translate(-276%, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .switch-btn.rotate {
    left: -97px;
  }
  .t-1.ani-for {
    width: fit-content;
  }
  .t-2.ani-back {
    width: fit-content;
  }
}
@media screen and (max-width: 360px) {
  .t-1,
  .t-2 {
    font-size: 25px;
  }

  @keyframes ani-for {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(77%, 0);
    }
  }
  @keyframes ani-back {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-282%, 0);
    }
  }
  @keyframes ani-for-rev {
    0% {
      transform: translate(77%, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes ani-back-rev {
    0% {
      transform: translate(-282%, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .switch-btn.rotate {
    left: -88px;
  }
  .range-error5 {
    bottom: -45px;
  }
}
